In [110]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import sklearn as sk

In [111]:
tab_ds_atl=('tabulated_dataset/atlantic.csv')
df=pd.read_csv('tabulated_dataset/atlantic.csv')
df.head()

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
0,AL011851,UNNAMED,18510625,0,,HU,28.0N,94.8W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1,AL011851,UNNAMED,18510625,600,,HU,28.0N,95.4W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2,AL011851,UNNAMED,18510625,1200,,HU,28.0N,96.0W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
3,AL011851,UNNAMED,18510625,1800,,HU,28.1N,96.5W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
4,AL011851,UNNAMED,18510625,2100,L,HU,28.2N,96.8W,80,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999

In [112]:
df.shape

(49105, 22)

In [113]:
# df.drop(['Name'], axis=1)
mdf=df.drop(['Status','ID','Name'],axis=1)
lat=mdf['Latitude']
lon=mdf['Longitude']
event=mdf['Event']
for i in range(len(list(lat))):
    lat[i]=float(lat[i][:-1])
    lon[i]=float(lon[i][:-1])
    event[i]=ord(event[i][0])
mdf

C:\Users\melod\AppData\Local\Temp\ipykernel_18540\3866280240.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lat[i]=float(lat[i][:-1])
C:\Users\melod\AppData\Local\Temp\ipykernel_18540\3866280240.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lon[i]=float(lon[i][:-1])
C:\Users\melod\AppData\Local\Temp\ipykernel_18540\3866280240.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  event[i]=ord(event[i][0])

,Date,Time,Event,Latitude,Longitude,Maximum Wind,Minimum Pressure,Low Wind NE,Low Wind SE,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
0,18510625,0,32,28.0,94.8,80,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1,18510625,600,32,28.0,95.4,80,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2,18510625,1200,32,28.0,96.0,80,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
3,18510625,1800,32,28.1,96.5,80,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
4,18510625,2100,32,28.2,96.8,80,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49100,20151112,1200,32,41.3,50.4,55,981,220,220,180,120,120,120,60,0,0,0,0,0
49101,20151112,1800,32,41.9,49.9,55,983,220,220,180,120,120,120,60,0,0,0,0,0
49102,20151113,0,32,41.5,49.2,50,985,540,520,200,220,120,120,60,0,0,0,0,0
49103,20151113,600,32,40.8,47.5,45,985,620,460,180,220,0,0,0,0,0,0,0,0
49104,20151113,1200,32,40.7,45.4,45,987,710,400,150,220,0,0,0,0,0,0,0,0

In [114]:
mdf

,Date,Time,Event,Latitude,Longitude,Maximum Wind,Minimum Pressure,Low Wind NE,Low Wind SE,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
0,18510625,0,32,28.0,94.8,80,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1,18510625,600,32,28.0,95.4,80,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2,18510625,1200,32,28.0,96.0,80,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
3,18510625,1800,32,28.1,96.5,80,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
4,18510625,2100,32,28.2,96.8,80,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49100,20151112,1200,32,41.3,50.4,55,981,220,220,180,120,120,120,60,0,0,0,0,0
49101,20151112,1800,32,41.9,49.9,55,983,220,220,180,120,120,120,60,0,0,0,0,0
49102,20151113,0,32,41.5,49.2,50,985,540,520,200,220,120,120,60,0,0,0,0,0
49103,20151113,600,32,40.8,47.5,45,985,620,460,180,220,0,0,0,0,0,0,0,0
49104,20151113,1200,32,40.7,45.4,45,987,710,400,150,220,0,0,0,0,0,0,0,0

In [115]:
x=mdf
y=df['Status']

In [116]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.20, random_state = 0)

In [117]:
x_train

,Date,Time,Event,Latitude,Longitude,Maximum Wind,Minimum Pressure,Low Wind NE,Low Wind SE,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
20440,19441011,1200,32,35.5,40.0,40,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
48686,20141012,810,32,32.3,64.7,70,984,150,150,120,120,50,60,60,60,0,20,20,0
44573,20051129,1200,32,31.6,50.0,45,993,45,0,90,120,0,0,0,0,0,0,0,0
15537,19271102,1800,32,30.5,74.5,35,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
14101,19211122,1800,32,22.3,78.8,40,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21243,19480827,600,32,24.7,65.4,80,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
45891,20081012,600,32,15.5,36.6,30,1007,0,0,0,0,0,0,0,0,0,0,0,0
42613,20030716,0,32,28.5,98.2,50,995,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
43567,20040919,1800,32,16.7,43.4,110,951,150,105,90,105,50,40,40,50,35,25,25,35
2732,18750909,600,32,39.5,51.0,70,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999

In [118]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [119]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 10, metric = 'minkowski', p = 2)
classifier.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=10)

In [120]:
y_pred = classifier.predict(x_test)

C:\Users\melod\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [121]:
y_test

1561      HU
25729     TS
23043     TD
7529      HU
39231     TS
        ...
42456     TS
20061     HU
43462     LO
21085     TS
16801     TS
Name: Status, Length: 9821, dtype: object

In [122]:
y_pred

array([' HU', ' EX', ' TD', ..., ' LO', ' TS', ' TS'], dtype=object)

In [123]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm = confusion_matrix(y_test, y_pred)
ac = accuracy_score(y_test,y_pred)

In [124]:
cm

array([[   1,    0,    0,    4,    0,    0,    7,    3,    0],
       [   0,  677,   38,   12,    1,    2,   73,  182,    0],
       [   0,   39, 2781,    0,    0,    0,    0,   44,    0],
       [   1,   10,    0,  104,    2,    1,   69,   11,    0],
       [   0,    3,    0,    1,    6,    0,   52,    4,    0],
       [   0,    7,   11,    1,    0,    6,    6,   77,    0],
       [   1,   30,    0,   51,    5,    0, 1811,   75,    0],
       [   0,  109,  104,    3,    1,   10,  150, 3213,    0],
       [   0,    0,    0,    2,    0,    0,   17,    3,    0]],
      dtype=int64)

In [125]:
ac

0.8755727522655534

array([' HU', ' EX', ' TD', ..., ' LO', ' TS', ' TS'], dtype=object)